@import (reference) "variables.less";

body {
  color: @colorTextPrimary;
}

.primary, .primary-text {
  color: @colorTextPrimary;
}

.secondary, .secondary-text {
  color: @colorTextSecondary;
}

.accent, .accent-text {
  color: @colorTextAccent;
}

strong, .strong {
  font-weight: bold;
}

.code {
  font-family: monospace;
}

.box {
  border: solid 1px #999;
  padding: 4px 8px;
  border-radius: 4px;
}