## WORK REPOSITORY (temporary work product that will be integrated into the repo later)
work-repo/

## LOGS
logs
*.log
npm-debug.log*

## BUILD
node_modules
.grunt

## DEPENDENCIES
bower_components

## IDE
.idea/
*.iws



## OS Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.lnk
